/*  your css code here. If applicable */
.main{
	background-color:#f5f5f5;
	padding:10px 10px;
	padding-bottom:30px;
}
.gg{
	padding:5px;
	border:1px solid grey;
	background-color:white;
}
.name{
	text-align:right;
}